@media (max-width: 1000px){
    .bt{
       font-size: 1rem;
    }
    .logo{
        height: 4rem;
        width: 8rem;
        margin-top: 1rem;
    }

    .h{
        font-size: 2rem;
        text-align: left;

    }
    .pr{
        font-size: .9rem;
    }
    /* .slide{
        margin-top: 5rem;
    } */
}

@media (min-width: 795px){
    .bt{
       font-size: 1rem;
    }
    .logo{
        height: 3rem;
        width: 8rem;
    }

    

    
}

@media (max-width: 1099px){
    .bt{
        font-size: 1rem;
    }
    
}

.glass{
background: rgba(255, 255, 255, 0.73);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
border: 1px solid rgba(255, 255, 255, 0.83);
z-index: 99999999px;
}


@media (min-width: 1099px){
    .ul{
        font-size: 1.2rem;
    }
}

@media (max-width: 1199px){
    .ul{
        font-size: .8rem;
    }
}

@media (min-width: 1500px){
    .h{
        font-size: 4rem;
    }
}