/* .box-cont{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    
  }
  .box{
 
    display: flex;
  }
  .image-box{
height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .image-content{

    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: span 2;
     
    
  }
  .image2{
    display: flex;
    align-items: center;
    justify-content: center;
     padding: 1rem;
   
    
  }
  .image3{
    display: flex;
    align-items: center;
    justify-content: center;
     padding: 1rem;
  
    
  }
  .image-original{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
  }
  .content-box{
    width: 50%;
    height: 100vh;
      display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  
  
  }
  .content-items{
     width: 90%;
    height: 90%;
  }
  .sub-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .sub-content1{
    padding-left: 1rem;
    padding-right: 1rem;

  } */




.box-cont{
     height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  min-width: 360px;
  
    
  }
  .box{
 
    display: flex;
  }
  .image-box{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  }
  .image-content{

    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: span 2;
     
    
  }
  .image2{
    display: flex;
    align-items: center;
    justify-content: center;
     padding: 1rem;
   
    
  }
  .image3{
    display: flex;
    align-items: center;
    justify-content: center;
     padding: 1rem;
  
    
  }
  .image-original{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
  }
  .content-box{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  
  
  }
  .content-items{
     width: 90%;
    height: 90%;
  }
  .sub-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    min-width: 360px;
    
  }
  .sub-content1{
    padding-left: 1rem;
    padding-right: 1rem;

  }
@media (max-width: 767.98px) {
  .image-box,
  .content-box {
    padding: 1rem;
  }
}


@media  (max-width: 950px) {
   .bk{
    margin-top: 15rem;
    margin-bottom: 17rem;
   }

   .imgbk{ 
    height: 20rem;
     width: 13rem;
     }
}
